.app {
    display: flex;
    padding: 20px;
    background-color: rgb(192, 189, 189);
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.palette-color-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100vh;
    align-items: center;
}

.palette-color-container h3 {
    color: white;
}

.palette-color-list {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.color-palette {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: palegoldenrod;
    border-radius: 10px;
}

.color-palette:hover {
    cursor: pointer;
    opacity: 0.8;
}

.tracks-container {
    display: flex;
    background-color: gray;
    height: 100vh;
    flex: 1;
    flex-direction: column;
    padding: 10px;
}

.track-list {
    display: flex;
    flex-direction: column;
    padding: 8px 10px;
    border: solid 1px black;
    background-color: gray;
    padding: 15px;
}

.palette-color-track-drop {
    display: flex;
    border: solid 1px black;
    border-radius: 10px;
    padding: 10px 0;
    background-color: #ffab73;
}
.palette-color-track-drag {
    width: 85%;
}

.palette-color-track-drag:hover {
    cursor: pointer;
    opacity: 0.8;
}

.track {
    display: flex;
    padding: 8px 10px;
    border: solid 1px gray;
    justify-content: space-between;
    width: 100%;
}

.color-list-container {
    display: flex;
}

.track-name {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

.color-box {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
    border: solid 1px black;
}

.color-box:hover {
    cursor: pointer;
    opacity: 0.8;
}
